{%extends 'base.html' %}
<%load static%>
 {%block title%}
    MAD EAGLE
    {%endblock%}

{% block content %}
<div style="background-image: url(/static/img/core-img/2.jpg);">
    <section class="breadcrumb-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>About Us</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="icon_house_alt"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Akame About Area Start -->
    <section class="akame--about--area">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12 col-lg-6">
                    <div class="section-heading text-right mb-80 pr-5 pt-3">
                        <p>Almaty • Since 2019</p>
                        <h2>About us</h2>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="about--us--content mb-80">
                        <p>The salon offers a full range of hairdressing and beauty services, manicure, pedicure, nail extensions, tattooing, make-up, sugar and vasodilation, Perm and eyelash extensions, massage, comprehensive anti-cellulite programs and much more.</p>
                        <img src="img/core-img/signature.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

  < <section class="akame-our-expert-area section-padding-80-0">

        <!-- Side Thumbnail -->
        <div class="side-thumbnail" style="background-image: url(img/bg-img/14.png);"></div>

        <div class="container">
            <div class="row justify-content-end">
                <div class="col-12 col-lg-6">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <h2>Our Experts</h2>
                        <p> </p>
                    </div>
                    <!-- Our Certificate -->
                    <div class="our-certificate-area mb-60 d-flex align-items-center">
                        <img src="img/core-img/certificate-1.png" alt="">
                        <img src="img/core-img/certificate-2.png" alt="">
                        <img src="img/core-img/certificate-3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="200ms">
                        <div class="team-member-img">
                            <img src="/static/img/mast/a.jpeg" alt="">
                            <!-- Social Info -->
                            <div class="team-social-info d-flex align-items-center justify-content-center">
                                <div class="social-link">
                                    <a href="https://www.instagram.com/minaprk_/?hl=ru"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-member-info">
                            <h5>Amina Kuanyshkyzy</h5>
                            <p>Make up</p>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="400ms">
                        <div class="team-member-img">
                            <img src="/static/img/mast/k.jpeg" alt="">
                            <!-- Social Info -->
                            <div class="team-social-info d-flex align-items-center justify-content-center">
                                <div class="social-link">
                                    <a href="https://www.instagram.com/kirano_0/?hl=ru"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-member-info">
                            <h5>Kyran Aripzhan</h5>
                            <p>Hair Stylist</p>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="600ms">
                        <div class="team-member-img">
                            <img src="/static/img/mast/di.jpeg" alt="">
                            <!-- Social Info -->
                            <div class="team-social-info d-flex align-items-center justify-content-center">
                                <div class="social-link">
                                    <a href="https://www.instagram.com/dinffrnt/?hl=ru"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-member-info">
                            <h5>Dina Ordabek</h5>
                            <p>Master of manicure</p>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="800ms">
                        <div class="team-member-img">
                            <img src="/static/img/mast/m.jpeg" alt="">
                            <!-- Social Info -->
                            <div class="team-social-info d-flex align-items-center justify-content-center">
                                <div class="social-link">
                                    <a href="https://www.instagram.com/madoooooshva____/?hl=ru"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-member-info">
                            <h5>Madiyar Myktybek</h5>
                            <p>Haircut</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{%endblock%}