{%extends 'base.html' %}
<%load static%>
 {%block title%}
    MAD EAGLE
    {%endblock%}

{% block content %}

    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Portfolio</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="icon_house_alt"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Portfolio</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Portfolio Area Start -->
    <section class="akame-portfolio section-padding-0-80 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="portfolio-menu text-center mb-50">
                        <button class="btn active" data-filter="*">All</button>
                        <button class="btn" data-filter=".haircuts">Haircuts</button>
                        <button class="btn" data-filter=".coloring">Coloring</button>
                        <button class="btn" data-filter=".barber">Make up</button>
                        <button class="btn" data-filter=".shaving">Manicure</button>
                        <button class="btn" data-filter=".hairstyle">Hairstyle</button>
                    </div>
                </div>
            </div>

            <div class="row akame-portfolio-area">
                <!-- Single Portfolio Item -->
                <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item haircuts mb-30 wow fadeInUp" data-wow-delay="200ms">
                    <div class="akame-portfolio-single-item">
                        <img src="img/bg-img/18.jpg" alt="">

                        <!-- Overlay Content -->
                        <div class="overlay-content d-flex align-items-center justify-content-center">
                            <div class="overlay-text text-center">
                                <h4>Hairstyle</h4>
                                <p>Consectetur adipisicing elit sed doe</p>
                            </div>
                        </div>

                        <!-- Thumbnail Zoom -->
                        <a href="img/bg-img/18.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                    </div>
                </div>

                <!-- Single Portfolio Item -->
                <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item haircuts mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="akame-portfolio-single-item">
                        <img src="img/bg-img/19.jpg" alt="">

                        <!-- Overlay Content -->
                        <div class="overlay-content d-flex align-items-center justify-content-center">
                            <div class="overlay-text text-center">
                                <h4>Hairstyle</h4>
                                <p>Consectetur adipisicing elit sed doe</p>
                            </div>
                        </div>

                        <!-- Thumbnail Zoom -->
                        <a href="img/bg-img/19.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                    </div>
                </div>

                <!-- Single Portfolio Item -->
                <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item coloring mb-30 wow fadeInUp" data-wow-delay="800ms">
                    <div class="akame-portfolio-single-item">
                        <img src="img/bg-img/20.jpg" alt="">

                        <!-- Overlay Content -->
                        <div class="overlay-content d-flex align-items-center justify-content-center">
                            <div class="overlay-text text-center">
                                <h4>Hairstyle</h4>
                                <p>Consectetur adipisicing elit sed doe</p>
                            </div>
                        </div>

                        <!-- Thumbnail Zoom -->
                        <a href="img/bg-img/20.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                    </div>
                </div>

                <!-- Single Portfolio Item -->
                <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item coloring mb-30 wow fadeInUp" data-wow-delay="200ms">
                    <div class="akame-portfolio-single-item">
                        <img src="img/bg-img/21.jpg" alt="">

                        <!-- Overlay Content -->
                        <div class="overlay-content d-flex align-items-center justify-content-center">
                            <div class="overlay-text text-center">
                                <h4>Hairstyle</h4>
                                <p>Consectetur adipisicing elit sed doe</p>
                            </div>
                        </div>

                        <!-- Thumbnail Zoom -->
                        <a href="img/bg-img/21.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                    </div>
                </div>

                <!-- Single Portfolio Item -->
                <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item barber mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="akame-portfolio-single-item">
                        <img src="img/bg-img/22.jpg" alt="">

                        <!-- Overlay Content -->
                        <div class="overlay-content d-flex align-items-center justify-content-center">
                            <div class="overlay-text text-center">
                                <h4>Hairstyle</h4>
                                <p>Consectetur adipisicing elit sed doe</p>
                            </div>
                        </div>

                        <!-- Thumbnail Zoom -->
                        <a href="img/bg-img/22.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                    </div>
                </div>

                <!-- Single Portfolio Item -->
                <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item barber mb-30 wow fadeInUp" data-wow-delay="800ms">
                    <div class="akame-portfolio-single-item">
                        <img src="img/bg-img/23.jpg" alt="">

                        <!-- Overlay Content -->
                        <div class="overlay-content d-flex align-items-center justify-content-center">
                            <div class="overlay-text text-center">
                                <h4>Hairstyle</h4>
                                <p>Consectetur adipisicing elit sed doe</p>
                            </div>
                        </div>

                        <!-- Thumbnail Zoom -->
                        <a href="img/bg-img/23.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                    </div>
                </div>

                <!-- Single Portfolio Item -->
                <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item shaving mb-30 wow fadeInUp" data-wow-delay="200ms">
                    <div class="akame-portfolio-single-item">
                        <img src="img/bg-img/24.jpg" alt="">

                        <!-- Overlay Content -->
                        <div class="overlay-content d-flex align-items-center justify-content-center">
                            <div class="overlay-text text-center">
                                <h4>Hairstyle</h4>
                                <p>Consectetur adipisicing elit sed doe</p>
                            </div>
                        </div>

                        <!-- Thumbnail Zoom -->
                        <a href="img/bg-img/24.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                    </div>
                </div>

                <!-- Single Portfolio Item -->
                <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item shaving mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="akame-portfolio-single-item">
                        <img src="img/bg-img/25.jpg" alt="">

                        <!-- Overlay Content -->
                        <div class="overlay-content d-flex align-items-center justify-content-center">
                            <div class="overlay-text text-center">
                                <h4>Hairstyle</h4>
                                <p>Consectetur adipisicing elit sed doe</p>
                            </div>
                        </div>

                        <!-- Thumbnail Zoom -->
                        <a href="img/bg-img/25.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                    </div>
                </div>

                <!-- Single Portfolio Item -->
                <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item hairstyle mb-30 wow fadeInUp" data-wow-delay="800ms">
                    <div class="akame-portfolio-single-item">
                        <img src="img/bg-img/26.jpg" alt="">

                        <!-- Overlay Content -->
                        <div class="overlay-content d-flex align-items-center justify-content-center">
                            <div class="overlay-text text-center">
                                <h4>Hairstyle</h4>
                                <p>Consectetur adipisicing elit sed doe</p>
                            </div>
                        </div>

                        <!-- Thumbnail Zoom -->
                        <a href="img/bg-img/26.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                    </div>
                </div>

                <!-- Single Portfolio Item -->
                <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item hairstyle mb-30 wow fadeInUp" data-wow-delay="200ms">
                    <div class="akame-portfolio-single-item">
                        <img src="img/bg-img/27.jpg" alt="">

                        <!-- Overlay Content -->
                        <div class="overlay-content d-flex align-items-center justify-content-center">
                            <div class="overlay-text text-center">
                                <h4>Hairstyle</h4>
                                <p>Consectetur adipisicing elit sed doe</p>
                            </div>
                        </div>

                        <!-- Thumbnail Zoom -->
                        <a href="img/bg-img/27.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                    </div>
                </div>

                <!-- Single Portfolio Item -->
                <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item massage mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="akame-portfolio-single-item">
                        <img src="img/bg-img/28.jpg" alt="">

                        <!-- Overlay Content -->
                        <div class="overlay-content d-flex align-items-center justify-content-center">
                            <div class="overlay-text text-center">
                                <h4>Hairstyle</h4>
                                <p>Consectetur adipisicing elit sed doe</p>
                            </div>
                        </div>

                        <!-- Thumbnail Zoom -->
                        <a href="img/bg-img/28.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                    </div>
                </div>

                <!-- Single Portfolio Item -->
                <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item massage mb-30 wow fadeInUp" data-wow-delay="800ms">
                    <div class="akame-portfolio-single-item">
                        <img src="img/bg-img/29.jpg" alt="">

                        <!-- Overlay Content -->
                        <div class="overlay-content d-flex align-items-center justify-content-center">
                            <div class="overlay-text text-center">
                                <h4>Hairstyle</h4>
                                <p>Consectetur adipisicing elit sed doe</p>
                            </div>
                        </div>

                        <!-- Thumbnail Zoom -->
                        <a href="img/bg-img/29.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio Area End -->


{% endblock %}


