{%extends 'base.html' %}
<%load static%>
 {%block title%}
    MAD EAGLE
    {%endblock%}

{% block content %}
    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Our Services</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="icon_house_alt"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Services</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Service Area Start -->
    <section class="akame-service-area">

        <!-- Single Service Item -->
        <div class="single--service--item d-flex flex-wrap align-items-center">
            <!-- Service Content -->
            <div class="service-content">
                <div class="service-text">
                    <h2>Hair Cuts &amp; Style</h2>
                    <p><span>Hair polishing:</span> <span>$7+</span></p>
                    <p><span>Keratin hair straightening:</span> <span>$55+</span></p>
                    <p><span>Hair straightening:</span> <span>$25+</span></p>
                    <p><span>Colouring in one tone:</span> <span>$12+</span></p>
                </div>
            </div>
            <!-- Service Thumbnail -->
            <div class="service-thumbnail bg-img jarallax" style="background-image: url(/static/img/core-img/hair1.jpg);"></div>
        </div>

        <!-- Single Service Item -->
        <div class="single--service--item odd-item d-flex flex-wrap align-items-center">
            <!-- Service Thumbnail -->
            <div class="service-thumbnail bg-img jarallax" style="background-image: url(/static/img/core-img/makeup.jpg);"></div>

            <!-- Service Content -->
            <div class="service-content">
                <div class="service-text">
                    <h2>Make up</h2>
                    <p><span>Night make up:</span> <span>$10+</span></p>
                    <p><span>Wedding:</span> <span>$75+</span></p>
                    <p><span>Dye GolDWell:</span> <span>$35+</span></p>
                    <p><span>Dye Oriental:</span> <span>$45+</span></p>
                </div>
            </div>
        </div>

        <!-- Single Service Item -->
        <div class="single--service--item d-flex flex-wrap align-items-center">
            <!-- Service Content -->
            <div class="service-content">
                <div class="service-text">
                    <h2>Manicure & Pedicure</h2>
                    <p><span>Shampoo &amp; Blow Dry:</span> <span>$55+</span></p>
                    <p><span>Personalized Color:</span> <span>$75+</span></p>
                    <p><span>Formal Styling:</span> <span>$35+</span></p>
                    <p><span>Bridal &amp; Wedding:</span> <span>$45+</span></p>
                </div>
            </div>
            <!-- Service Thumbnail -->
            <div class="service-thumbnail bg-img jarallax" style="background-image: url(/static/img/core-img/nail.jpg);"></div>
        </div>

    </section>

{% endblock %}